<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>文档问答AI</title>
</head>

<body>
    {# 验证部分 #}
    {% if (not session.get('state')) or (not session.get('name')) %}
        {# 没有登录 #}
        <div align="center">
        <form method="post" action="{{url_for('auth')}}">
            <img src="{{url_for('static', filename='logo.png')}}" text="logo" height="18" width="32">&nbsp;    
            <label>账号：</label><input type="text" name="name" size="12" /> &nbsp;
            <label>密码：</label><input type="password" name="pwd" size="12" /> &nbsp;
            <input type="submit" name="submit" value="登录" /> &nbsp;
            <input type="submit" name="submit" value="注册" disabled /> &nbsp;
            {% if auth_msg %} 
                <span style="color:red;">{{auth_msg}}</span> 
            {% endif %} 
        </form>
        </div>
    {% else %}
        <div>
        {# 成功登录 #}
        <div align="center">
        <form method="post" action="{{url_for('auth')}}">
            <img src="{{url_for('static', filename='logo.png')}}" text="logo" height="18" width="32">&nbsp;    
            <label>账号：</label>{{session['name']}} &nbsp;
            <input type="submit" name="submit" value="登出" /> &nbsp; 
        </form>   
        <hr style="width:600px;" />
        </div>
    {% endif %}
    
    {# 提示部分 #}
    {% if session.get('name') and (session.get('state') in ['prompt', 'chat']) %} 
    <div align="center">
    <form id="prompt" method="post" action="{{url_for('prompt')}}" style="background:#f3f3f3; width:600px;" onSubmit= "javascript:prompt_idx.disabled=false;prompt_txt.disabled=false"><br/>
            <label>选择角色：</label>
            <script>
            function select() {
                var prompt_idx = document.getElementById("prompt_idx").selectedIndex;
                prompts = {{prompts|tojson}}
                prompt = prompts[prompt_idx]['prompt'] ;
                document.getElementById("prompt_txt").value=prompt;
            }
            </script>
            <select name="prompt_idx" id="prompt_idx" onchange="select()" {% if session['state']=='chat' %}disabled{% endif %} >
                 {% for prompt in prompts %}
                 <option value="{{loop.index0}}" 
                    {% if loop.index0 == session['prompt_idx'] %}selected{% endif %}
                                                >{{prompt['act']}}</option>
                 {% endfor %}
            </select> </span><br/><br/>
        {% if session.get('state') == 'prompt' %} {# 提示阶段 #}
            <label style="vertical-align:top">提示：</label>
            <textarea cols="60" rows="6" name="prompt_txt" id="prompt_txt" style="background:#d0e8ff" {% if session['state']=='chat' %}disabled{% endif %} >{{session['prompt']|trim}}</textarea><br/><br/>
            <input type="submit" name="submit" value="提交" /> <br/><br/>
        {% elif session.get('state') == 'chat' %}  {# 问答阶段 #}
            <table border="0" style="width:560px;">
                <tr>
                    <td style="vertical-align:top;white-space:nowrap;">提示：</td>
                    <td style="padding:4px;border-style:solid;border-width:1px;background:#d0e8ff">{{session['prompt']|trim}}</td>
                </tr>
            </table><br/>
            <input type="submit" name="submit" value="重来" /> <br/><br/>
        {% else %}        
        {% endif %}
    </form>
    </div><br />
    {% endif %}
    
    {# 问答部分  #}
    {% if session.get('name') and session.get('prompt_idx') and session.get('prompt') and session.get('messages') and session.get('state') == 'chat' %}
        {% for message in session.get('messages') %}
            {# 发问 #}
            {% if (loop.index0 > 0) and (loop.index0 % 2 == 1) %} 
            <div align="center">
            <form method="post" action="{{url_for('chat')}}" style="background:#f3f3f3; width:600px;"><br/>
                <input type="hidden" name="message_idx" type="number" value="{{loop.index0}}" />
                <table border="0" style="width:560px;">
                    <tr>
                        <td style="vertical-align:top;white-space:nowrap;">发问{{"%d"|format((loop.index0+1)/2)}}：</td>
                        <td style="padding:4px;border-style:solid;border-width:1px;background:#d0e8ff">{{message['content']}}</td>
                    </tr>
                    <tr><td></td><td></td></tr>
            {% endif %}
            {# 回答 #}
            {% if (loop.index0 > 0) and (loop.index0 % 2 == 0) %}
                    <tr>
                        <td style="vertical-align:top;white-space:nowrap;">回答{{"%d"|format(loop.index0/2)}}：</td>
                        <td style="padding:4px;border-style:solid;border-width:1px;background:#d0e8ff" >{{message['content']}}</td>
                    </tr>
                </table><br/>
                <input type="submit" name="submit" value="删除" /><br/><br/>
            </form>
            </div><br/>
            {% endif %} 
        {% endfor %}
    
        {# 下一个发问 #}
        {% if session.get('messages')|length < 7 %} {# 最多只有3轮问答 #}
            <div align="center">
            <form method="post" action="{{url_for('chat')}}" style="background:#f3f3f3; width:600px;"><br/>
            <label style="vertical-align:top">发问：</label><textarea cols="60" rows="6" name="chat_ask" style="background:#d0e8ff" ></textarea><br/><br/>
            <input type="submit" name="submit" value="发送" /> <br/><br/>
            {% if chat_msg %} 
                <span style="color:red;">{{chat_msg}}</span><br/><br/> 
            {% endif %} 
            </form>
            </div><br />
        {% endif %}
    {% endif %}
</body>
</html>
